*{
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    /* border:1px solid grey; */
}

body{
    
    margin: 0;
    padding: 0;
    /* background-image: url("screenshots/pazhomepage.png"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;

}

/* .whitecover{
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -100;
    height: 100vh;
} */

header{
    /* position: fixed; */
    width: 100%;
    height: 106px;
    top: 0;
    margin-bottom: 30px;
    background-image: linear-gradient( rgb(99, 99, 99)80% , rgb(173, 173, 173));
}
#paz_logo{
    position: absolute;
    text-align: right;
    top:40px;
}

input{
    margin: 0;
    margin-bottom: 5px;
    float: left;
    width: 130px;
    height: 19px;
    /* border-top-right-radius: 5px; */
    border: 1px solid grey;
    padding-right: 5px;
}

.container{
    width: 925px;/*fix-me
    margin: 0 auto;

    /* text-align: center; */
    /* background-color: rgba(1, 255, 35, 0.644); */
}

.row{
    /* border:2px dotted red; */
    /* position: relative;
    display: block; */
    margin: 0 auto;
    /* background-color: rgb(179, 98, 255, 0.3); */
    top: 150px;  
}

.row::after{
    content: "";
    clear: both;
    display: table;
}
.col-nav{
    width:80%;
}
.col-logo{
    width: 142px;
    height:120px;
}

.col{
    position: relative;
    float: right;
    width: 292px;
    /* height: 354px; */
    height: auto;
    margin: 5px;
    /* border: solid red; */
    /* border-bottom-right-radius: 20px; */

}

.bigimg{
    border-bottom-right-radius: 20px;
}

.blk{
    position: absolute;
    bottom: 10px;
    right: 7px;
    background-color: rgba(148, 148, 148, 0.8);
    border-bottom-right-radius: 20px;
    width: 250px;
    height: 100px;
    text-align: right;
    z-index: 2;
    color:white;
}

h2{
    font-size: 14px;
    font-weight: bold;
    line-height: 150%;
    margin: 3px;
    margin-right: 10px;
    margin-left: 30px;

}

h3{
    color: rgb(99, 99, 99);
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(226, 226, 226);
}

h4{
    font-weight: bold;
    font-size: 13px;
    font-weight: regular;
    line-height: 110%;
}
p{
    font-size: 13px;
    font-weight: regular;
    line-height: 110%;
    margin: 5px;
    margin-right: 10px;
    margin-left: 20px;
}
p.infotext1{
    font-size: 13px;
    font-weight: regular;
    line-height: 150%;
    /* margin: 5px; */
    margin-right: 0px;
    /* margin-left: 20px; */
}    
a.eng{
    font-size: 13px;
    font-weight: regular;
    line-height: 110%;
    color: white;
}
a.readmore{
    font-size: 13px;
    font-weight: regular;
    line-height: 110%;
    color: white;
    position: relative;
    bottom: 10px;
    text-decoration: none;
    float: left;
    left: 10px;
    background: url(images/read_more_white.png) no-repeat left ;
        /* margin: 5px; */
    /* margin-right: 10px; */
    /* text-align: left; */
    /* float: left; */
}

li>a.last{
    color: red;
    border-left: none;
}

a.readmore2{
    font-size: 13px;
    font-weight: regular;
    line-height: 110%;
    color: rgb(77, 77, 77);
    padding-left: 15px;
    margin-bottom: 10px;
    background: url(images/read_more_yellow.png) no-repeat left ;
}

a:hover.readmore, a:hover.readmore2{
    background: url(images/read_more_blue.png) no-repeat left ;
}
/* a.readmore{
    float: left;
    left: 10px;
    background: url(images/read_more_white.png) no-repeat left ;
} */

a.readmore>span{
padding: 0 15px;
}

a.lnk-footer{
    font-size: 13px;
    font-weight: regular;
    line-height: 110%;
    margin: 5px;
    text-align: right;
    float: right;
}

.area1{
text-align: right;
/* float: right;
position: absolute; */
}


a:hover{
    color:#005ca0;
    text-decoration: underline;
}


/* a:hover>span{
    background: url(images\read_more_blue.png) no-repeat;
    padding: 3px;
} */

.cube_bg{
    /* box-sizing: border-box; */

    position: relative;
    float: right;/* fix me to: float: left*/
    /* background: url(images\small_cube_bg.png) no-repeat; */
    background-image: linear-gradient( rgb(253, 253, 253)50% , rgb(226, 226, 226));
    border: 1px solid rgb(226, 226, 226);
    border-top-right-radius: 20px;

    width: 292px;
    height: 216px;
    margin-bottom: 30px;
    /* height:auto ; */

}

.cube2{
    width:250px;
    margin: 0 auto;
}

img#img-map{
    float: left;
}
.img250{
    margin-top:10px;
}


/* nav{
    background-color: #222;
    position: relative;
    margin-top: 65px;
    width: 100%;
    height: 40px;
} */

ul{
    list-style: none;
    padding-right:0;
    margin-top: 5px;
    vertical-align: baseline;
}

ul>li{
display: inline-block;
border-left: 1px solid white;
padding: 0px 0px 0px 3px;
/* height: 10px;
padding: 5px; */
}

ul>li>a{
    font-size: 14px;
    font-weight: regular;
    line-height: 110%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 10px;
}

footer{
    width: 100%;
    position: fixed;
    z-index: 100;
    bottom: 0px;
    height: 38px;
    background-image: linear-gradient( rgb(173, 173, 173)20% , rgb(99, 99, 99));
}

/* ----nav styles---- */

nav.main-nav{
    z-index: 1000;
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
}
nav > ul > li > a {
    text-decoration: none;
    /* padding: 5px; */
    display: block;
  }
/* nav > ul > li.nav-on , nav.main-nav>ul>li:hover{
    background-color:rgb(23, 68, 134);
  } */

nav.main-nav > ul > li > a {
        color: rgb(255, 255, 255);
        border-right: 1px solid rgb(23, 68, 134);
        text-align: center;
        font-weight: bold;
}
nav.dropdown-content > ul > li > a {
    color: rgb(39, 39, 39);
    /* border-right: 1px solid rgb(23, 68, 134);
    border-left: 1px solid rgb(23, 68, 134); */
    border-bottom: 1px solid rgb(173, 173, 173);
    text-align: right;
}
nav.dropdown-content > ul > li >a:hover {
    color: rgb(39, 39, 39);
    /* background-color: rgb(245, 229, 4); */
    /* border-right: 1px solid rgb(23, 68, 134);
    text-align: right; */
}
  
nav.dropdown-content{
    width: 120px;
    color:rgb(39, 39, 39);
    background-color: rgb(99, 99, 99);
    display: none;
    position: absolute;
    /* right: 0%; */
    /* top: 100%; */
    box-shadow: 5px 5px 5px 0px rgba(43, 49, 88, 0.3);
}

  .dropdown {
    position: relative;
  }

  .dropdown:hover>.dropdown-content{
      display: block;
      z-index: 1;
      
  }

  nav.main-nav > ul > li{
      display: inline-block;
      /* width: 120px; */
      padding-right: 10px;
      padding-left: 10px;

  }
  .dropdown .meshulash {
    float: left;
  }
  ul{
    list-style-type: none;
    text-align: center;
  }
li> .last-nav{
    border-left: 1px solid rgb(39, 39, 39);

}
 /* ----end nav styles---- */

 .col-right-menu{
     position: relative;
     float: right;
     width: 110px;
     height: 40px;
     padding-top:12px;
     font-size: 13px;
     border-top: 1px solid #dedede;
     background-image: linear-gradient( #ffffff , #cccccc);
     margin-left: 20px;
     
 }
 .col-main-content{
    position: relative;
    float: right;
    width: 780px;
    height: auto;
    /* margin: 5px; */
    font-size: 13px;
}
.col-more-info{
    position: relative;
    float: right;
    width: 292px;
    height: auto;
    /* margin: 5px; */
}

.col-content{
    width:458px;
    position: relative;
    float: right;
    margin-left:30px;
    padding-right: 20px;
    padding-left: 20px;
    height: 462px;
    background-image: linear-gradient( rgb(253, 253, 253)50% , rgb(226, 226, 226));
    border: 1px solid rgb(226, 226, 226);
    border-top-right-radius: 20px;
}


label{
    width: 120px;
}

textarea{
    width: 100%;
    margin-bottom: 5px;
    font-family: sans-serif;
    height: 100px;
}

form {
    width: 350px;
    /* display: block;  */
    margin: 0 auto;

    padding: 10px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  

  
  /* .column {
    float: right;
  } */
  
  label.column {
    width: 120px;
    /* padding:8px; */
  }
  
  input.column {
    width: 220px;
    height: 25px;
  }
  
   
button{
    float: left;

    display: block;
    width: 40px;
    height: 20px;
    /* padding: 6px; */
    color: white;
    text-align: center;
    font-weight: 600;
    background-image: linear-gradient( rgba(55, 176, 229) , #025088);
    border: 1px solid #6c95b2;
    border-radius: 1px;
    /* margin: 5px; */
}

button:hover{
    background-image: linear-gradient( #fde720 ,#f49109);
    border: 1px solid #ead18d;
    border-radius: 1px;
    color: black;
    cursor: pointer;
}
