*{
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    /* border:1px solid grey; */
}

body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}



header{
    /* position: fixed; */
    width: 100%;
    height: 106px;
    top: 0;
    margin-bottom: 30px;
    background-image: linear-gradient( rgb(153, 153, 153)80% , rgb(189, 189, 189));
}



a:hover{
    color:#005ca0;
    text-decoration: underline;
}


/* a:hover>span{
    background: url(images\read_more_blue.png) no-repeat;
    padding: 3px;
} */




/* ----nav styles---- */
.sep{
    color:rgb(185, 185, 185);
}


/* nav{
    background-color: #222;
    position: relative;
    margin-top: 65px;
    width: 100%;
    height: 40px;
} */


ul{
    list-style-type: none;
    text-align: right;
  }

ul>li{
display: inline-block;
}

ul>li>a{
    font-size: 16px;
    font-weight: bold;
    line-height: 110%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 10px;

    text-decoration: none;
    display: block;
}

nav.main-nav{
    position: fixed;
    top:50px;
    display: inline-block;
    color: rgb(255, 255, 255);
}
/* nav > ul > li > a {
    text-decoration: none;
    padding: 5px;
    display: block;
  } */

/* nav > ul > li.nav-on , nav.main-nav>ul>li:hover{
    background-color:rgb(23, 68, 134);
  } */

nav.main-nav > ul > li > a {
        /* color: rgb(255, 255, 255); */
        font-size: 16px;
        /* border-right: 1px solid rgb(23, 68, 134); */
        text-align: right;
        font-weight: bold;
}


nav.dropdown-content > ul>li:hover {
    background-color: rgb(175, 175, 175);
    text-align: right;
}
  
nav.dropdown-content{
    width: 180px;
    color:rgb(39, 39, 39);
    background-color: rgb(153, 153, 153);
    display: none;
    position: absolute;
    /* right: 0%; */
    /* top: 100%; */
    /* box-shadow: 5px 5px 5px 0px rgba(43, 49, 88, 0.3); */
}



.dropdown:hover>.dropdown-content{
      display: block;
      z-index: 1;
}

nav.main-nav > ul > li{
      display: inline-block;
      /* width: 120px; */
      padding-right: 5px;
      padding-left: 5px;
}
